.pages{
    width:100%;
    height: 100vh;
  

}
.frendcol{
 color: #89f848;
}
.frendcolor{
    color: white;
}
body{
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;  
  line-height: 1.6;
margin: 0;
  padding: 0;
}

header{
     
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.details-hed{
    display: flex;
    gap:24px;
   
    
}
.hedname{
    font-size: 20px;
}
a{
    text-decoration: none;
  color: #222;
  font-weight: 500;
  font-size: 14px;
}
.help {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 12px;
  color: #666;
  font-size: 20px;
  margin-right: 20px;
}
.logoimg{

  width: 50px;
  height: 50px;
}
.logo{
    
    display: flex;
    align-items: center;
    margin-left: 20px;
}
section{
    width:100%;
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("img/image_height_500px.png");
  background-size:cover ;

  background-repeat: no-repeat;
  background-position: center; 
 
}
.centertext{
display: flex;

text-align: center;
flex-direction: column;
align-items: center;

}
.lbutton{
   border-radius: 30px;
    padding: 15px;
    width:30%;
}
.pages2{
    display: flex;
    height: 100vh;
    width: 100%;

}
.section1{
   width: 50%;
  height: 100%;
  
 background-image: url("img/Screenshot\ 2026-02-11\ 114528.png");
background-size:cover;
 background-position: center; 
  overflow: hidden; 
  background-repeat: no-repeat;  
 
}
.section2 {
   background-color:white;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tag {
  color: #4caf50;
  font-weight: bold;
  
  margin-top: 100px;
}

 h1 {
     font-size: 2.6rem;

  color: #0a3d2c;
 margin:0;
  
}
h2{
     font-size: 1.8rem;
}
h3 {
  font-size: 1.3rem;
}

.description{
  color: #666;
  
}
.features {
  display: flex;
  gap: 30px;
 
}

  h1 {
    font-size: 3.1rem;
  }



 h5 {
  color: #0a3d2c;
  font-size: 16px;
  margin-bottom: 8px;
}

 p {
 font-size: 1.05rem;
  color: #666;
 margin:0;

}


 button {
    margin-top: 10px;
  background-color: #7ad61d;
  color: white;
  border: none;
  padding: 12px 28px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 15px;
   border-radius: 30px;
    padding: 15px;
    width:30%;
  
}
.cards{
    display: flex;
    gap:20px;
       margin-left:100px;
       margin-top: 50px;

}
 .cardimge{
    width:100px;
    height:100px;
    background-image: url("img/Screenshot\ 2026-02-11\ 150434.png");
 background-size: cover;
}
 .cardimge1{
    width:100px;
    height:100px;
    background-image: url("img/Screenshot\ 2026-02-11\ 151603.png");
 background-size: cover;
}
 .cardimge2{
    width:100px;
    height:100px;
    background-image: url("img/Screenshot\ 2026-02-11\ 151616.png");
 background-size: cover;
}
.card {
  background: #fff;
  border-radius: 16px;
  padding: 25px;
  width: 260px;
   display: flex;
   flex-direction: column;
   align-items: center;
  text-align: center;
}
.pages3{
    display:flex;
    flex-direction: column;
    justify-content: center;
    
    height: 90vh;
    background-image: url("img/ChatGPT\ Image\ Feb\ 11\,\ 2026\,\ 01_38_20\ PM.png");
background-size: cover;
}
.services-content{
    margin-left:100px;
    
}
footer{
    background-color:  #064e3b;
    color:#d1fae5;
    padding:60px 0px 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.footerp{
       color:#d1fae5;
}
.footericon{
    display:flex;
    gap:20px;
    margin-top: 10px;
   
}
.fab{
     color: #fff;
    
    
}
.footer-bottam{
   width:100%;
   background-color:  #064e3b;
  height: 60px;
    border-top:1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}
.bottom {
    margin-left: 50px;
     color: rgb(230, 225, 225);
   
}
.bottom-links{
 margin-right: 50px;
display: flex;
gap:20px;

}

.footer1{
margin-left: 80px;
}
.menu-toggle{
    display: none;
}
/* tablet */
@media(min-width:481px)and (max-width:786px) {
header{
    flex-direction: column;
    
}
 section{
    height: 100%;
    text-align: center;

 } 
 .centertext{
    font-size: 27px;

 }
 .lbutton{
    width:60%;
 }
 .pages2{
    flex-direction: column;
   margin-top: 20px;
   
    height: auto;
 }
 .section1{
    width: 100%;
 }
 .section2{
    width:100%;
    align-items: center;
    text-align: center;
 }
 .features{
    flex-direction: column;
    gap:20px;
    background-color: #b2dac5;
    align-items: center;
 }
button{
    width:20%;
}
.pages3{
    
    height: auto;
}
.services-content{
    margin-top: 30px;
    text-align: center;
}
.cards{
    flex-wrap:wrap;
    justify-content: center;
}
footer{
   grid-template-columns: auto auto; 
   padding-left: 50px;
 
}
.footer1{
    margin: 0;
}
.acolor{
    color: white;
}

}

@media(max-width:480px){
 header {
    padding: 10px 15px;
    position: relative;
  }
h1 { 
    font-size: 2rem; 
}
  h2 {
     font-size: 1.4rem; 
    }
  p  { 
    font-size: 0.95rem; 
}
  .details-hed {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    align-items: center;
    gap: 10px;
   
    display: none;
    
  }

  .details-hed.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
    font-size: 26px;
    
  }

  .help {
    display: none;
  }

  .pages,
  .pages2,
  .pages3 {
    height: auto;
    min-height: auto;
  }


  section {
    padding: 60px 16px;
    text-align: center;
  }

  .centertext h1 {
    font-size: 2rem;
    line-height: 1.2;
  }


  button {
    width: 50%;
    ;
  }

  
  .pages2 {
    flex-direction: column;
    align-items: center;
  }

  .section1{
  display: none;
  }

  .section2 {
    align-items: center;
    text-align: center;
    padding-bottom: 16px;
  }

  
  .features {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  
  .cards {
    margin-left: 0;         
    margin-top: 24px;
    flex-direction: column;  
    align-items: center;
    gap: 10px;
  }

  .card {
    width: 92%;
    max-width: 320px;
  }

 
  .services-content {
    margin-left: 0;
    
    text-align: center;
  }

 
  footer {
    grid-template-columns: auto;
    padding: 30px 16px;
    
  }

  .footer1 {
    margin-left: 0;
  }

  .footer-bottam {
    flex-direction: column;
    gap: 8px;
    height: auto;
    
  }

}

@media (min-width:787px)and (max-width:1440px){

    header{
padding: 20px 50px;
 
    }
.menu-toggle{
    display: none;
}
.pages{
    height: auto;
}
.pages2{
height: auto;
display: flex;
 
  
}
.section1{
   margin: 0;
     width: 50%;
  height: 100%;
 
 
}
.section1img{
    width: 100%;
    height: 100%;
   
}
.pages3{
    height: auto;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.cards{
    justify-content: space-around;
}
h1{
    font-size: 65px;
    font-weight:550;
}
}


